.mat-form-field-underline {
    background-color: #ccc!important;
}


.mat-form-field{
    width: 100% !important;
    margin: 0 0 !important;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
    background-color: #514b79;
  }
