<div class="container-box">

  <mat-card class="box">

    <img src="assets/img/logo-master-bottom.png" class="logo" />

    <form>

      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput required name="login_email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" required name="login_password" >
      </mat-form-field>

      <!-- check -->
      <div class="log">
        <mat-checkbox class="remember" color="primary" id="checkbox_signup" name="checkbox_signup">Lembre-Me</mat-checkbox>
        <button class="login">ENTRAR</button>
      </div>

      <br />
      <div class="text-center">

        <div class="forgot-password">
          <a>Esqueceu a senha?</a>
        </div>

        <div class="signup">
          Não tem uma conta? <a>Cadastre-se</a>
        </div>

      </div>
    </form>

  </mat-card>

</div>
